body {
  background-position: center;

  background-color: #f3ebeb;
  color: font-family;

  &.dark {
    background-color: var(--theme-dark-background-color);
  }
}

/* reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}
