<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <div class="modal-movie"></div>
    <button class="btn-modal-close" type="button">

    </button>
    <div class="modal__content">
      <h2 class='modal__title'>hfgjftitlehfgjf</h2>
      <table class='modal-info'>
        <tr>
          <td class='modal-info__title'>Vote / Votes</td>`

          <td class='modal-info__value'>
            <span class='modal-info__rate'>hfgjfvote_average.toFixed(1)hfgjf dhfbjdhffj</span>
            /
            <span class='modal-info__rate'>hfgjfvote_counthfgjf</span>
          </td>

        </tr>
        <tr>

          <td class='modal-info__title'>Popularity</td>
          <td class='modal-info__value'>
          </td>

        </tr>
        <tr>
          <td class='modal-info__title'>Original Title</td>`
          <td class='modal-info__value'>hfgjforiginal_titlehfgjf</td>`

        </tr>
        <tr>
          <td class='modal-info__title'>Genre</td>`
          <td class='modal-movie-info__value'>
          </td>

        </tr>
      </table>
      <div class='modal-about'>
        <h3 class='modal-about__title'>About</h3>
        ]<p class='modal-about__desc'>hfgjfoverviewhfgjf</p>
      </div>
      <div class="modal__text"></div>
      <div class="modal-movie-btn">
        <button type="button" class="btn-modal btn-modal__watched">
          add to Watched
        </button>
        <button type="button" class="btn-modal btn-modal__queue">
          add to queue
        </button>
      </div>
    </div>
  </div>
</div>