<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <div class="modal-movie"></div>
    <button class="btn-modal-close" type="button">
      <svg class="btn-modal__icon">
        <use href="./images/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <div class="modal__content">
      <div class="modal__text"></div>
      <div class="modal-movie-btn">
        <button type="button" class="btn-modal btn-modal__watched">
          add to Watched
        </button>
        <button type="button" class="btn-modal btn-modal__queue">
          add to queue
        </button>
      </div>
    </div>
  </div>
</div>