<div class="backdrop" data-modal>
  <div class="modal">
    <button class="btn-modal-close" type="button"></button>
    <div class="modal-movie"> <img src="https://sd.keepcalms.com/i-w600/keep-calm-poster-not-found.jpg" alt="" class="modal-movie__img"></div>
       <div class="modal__content">
        <h2 class='modal__title'>Title</h2>
      <table class='modal-info'>
        <tr>
          <td class='modal-info__title'>Vote / Votes</td>
  
          <td class='modal-info__value'>
            <span class='modal-info__rate'>7.1</span>
            /
            <span class='modal-info__rate'>676</span>
          </td>
  
        </tr>
        <tr>
  
          <td class='modal-info__title'>Popularity</td>
          <td class='modal-info__value'>Some popular</td>
  
        </tr>
        <tr>
          <td class='modal-info__title'>Original Title</td>
          <td class='modal-info__value'>some</td>
  
        </tr>
        <tr>
          <td class='modal-info__title'>Genre</td>
          <td class='modal-movie-info__value'>some</td>
        </tr>
      </table>
      <div class='modal-about'>
        <h3 class='modal-about__title'>About</h3>
        <p class='modal-about__desc'>some</p>
      </div>
      <div class="modal__text"></div>
      <div class="modal-movie-btn">
        <button type="button" class="btn-modal btn-modal__watched">
          add to Watched
        </button>
        <button type="button" class="btn-modal btn-modal__queue">
          add to queue
        </button>
      </div>
    </div>
  </div>
</div>

