<footer class="footer">
  <div class="footer__container">
    <div class="footer__first-text-box">
      <p class="footer__text footer__text--vertical-line">&#xA9; 2023</p>
      <p class="footer__text footer__text--vertical-line">All Rights Reserved</p>
    </div>
    <div class="footer__second-text-box">
      <p class="footer__text">Developed with</p>
      <svg class="footer__svg">
        <use href="./images/footer-icon.svg#icon-heart"></use>
      </svg>
      <p class="footer__text">by</p>
      <a href="#" class="footer__text footer__link js-team-modal">GoIT Students</a>
    </div>
  </div>
</footer>