
<header class="header">
   <div class="container header-container">
    <div class="header-back">

      <div class="header-relay">

        <div class="tab__desk-btn">
          <button class="btn-top btn-top-watched" type="button">Watched</button>
					<button class="btn-top btn-top-queue" type="button">Queue</button>
        </div>

         <nav class="navigation">
            <ul class="navigation__list">
           <li class="nav__item">
             <a href="./index.html" class="nav__link-home">Home</a>
           </li>
              <li class="nav-item">
             <a href="./library.html" class="nav__link-library active">My library</a>
           </li>
         </nav>
         <form class="search-form">
           <input
             class="search-input"
             type="name"
             name="name"
             placeholder="Movie Search"
           />
           <button class="search-form__btn" type="submit"> 
            <svg class="search-form__icon"> 
              <use href="/src/images/sprite.svg#icon-film"></use> 
            </svg> 
          </button>
         </form>
      </div>

        <div class="library-list">
                <div class="btn-library">
                    <button class="btn-watched btn__library-active" type="button">Watched</button>
                    <button class="btn-queue" type="button">Queue</button>
                </div>
                 <a href="./index.html" class="logo-header">
        <svg class="logo-header__icon" width="24" height="24"> 
          <use href="/src/images/sprite.svg#icon-film"></use> 
        </svg>
        <p class="logo-name">Filmoteka</p>
                </a>
            </div>

    </div>
   </div>
 </header>


