<header class="header">

<button id="myBtn" title="Go to top" class="btn--to-top hidden">
  <svg width="40" height="40" class="icon-arrow">
    <use href="/src/images/sprite.svg#icon-circle-up" />
  </svg>
</button>

  <div class="container header-container">
    <div class="header-back">
      <div class="header-relay">

<div class="tab__desk-btn">
          <button class="btn-top btn-top-watched" type="button">Watched</button>
          <button class="btn-top btn-top-queue btn-top--active" type="button">Queue</button>

        </div>

         <nav class="navigation">
            <ul class="navigation__list">
           <li class="nav__item">

             <a href="./index.html" class="nav__link-home active not-active">Home</a>
           </li>
              <li class="nav__item">
             <a href="./library.html" class="nav__link-library active-library">My library</a>

           </li>
         </nav>
         <form class="search-form">
           <input
             class="search-input"
             type="name"
             name="name"
             placeholder="Movie Search"
           />
           <button class="search-form__btn" type="submit"> 

            <svg class="search-form__icon" width="14" height="14"> 
              <use href="/src/images/sprite.svg#icon-search"></use> 
            </svg> 
          </button>
        </form>
      </div>

      <div class="header-botoom">
       <div class="btn-library">
         <button class="btn__library-bottom btn__watched-bot" type="button">Watched</button>
          <button class="btn__library-bottom btn__queue-bot btn-top--active" type="button">Queue</button>
            </div>

        <a href="./index.html" class="logo-header">
          <svg class="logo-header__icon fliper " width="24" height="24">
            <use href="/src/images/sprite.svg#icon-film"></use>
          </svg>
          <p class="logo-name">Filmoteka</p>
        </a>
        <div class="theme__div">
          <div class="theme" id="theme">
            <button class="theme__switch" id="switch"></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
