.header {
  display: block;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 320px;

  @media screen and (min-width: 768px) {
    padding-left: 32px;
    padding-right: 32px;
    width: 768px;
  }

  @media screen and (min-width: 1280px) {
    width: 1280px;
  }
}
.header-container {
  padding-top: 20px;

  @media screen and(min-width: 768px) {
    padding-top: 32px;
  }
}
.header-back {
  display: flex;
  flex-direction: column;
  //   margin: 20px;
  //   background-color: white;
  justify-content: space-between;
  background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.4) 65.37%
    ),
    url('/src/images/header-mobile.jpg');
  border-radius: 10px;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 280px;
  min-height: 460px;
  padding: 14px 14px 20px;

  @media screen and (min-width: 768px) {
    min-width: 704px;
    min-height: 222px;
    background-image: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4)
      ),
      url('/src/images/header-tablet.jpg');
    border-radius: 15px;
    padding: 16px;
  }
  @media screen and (min-width: 1280px) {
    min-width: 1216;
    min-height: 222px;
    background-image: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.4)
      ),
      url('/src/images/header-tablet.jpg');
    border-radius: 15px;
    padding: 16px;
  }
}
.header-relay {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    justify-content: flex-end;
    align-items: center;
    gap: 4px;
    display: flex;
    flex-direction: row-reverse;
  }
}
.navigation {
}
.navigation__list {
  //   padding-top: 14px;
  list-style: none;
  display: flex;
}
.nav__item {
}
.nav__link-home {
  //   margin-top: 14px;
  //   margin-left: 14px;
  border-radius: 100px;
  //   background-color: var(--navigation-color);
  color: white;
  width: 87px;
  height: 34px;
  padding: 10px 26px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  border: none;

  @media screen and (min-width: 768px) {
    width: 83px;
    height: 38px;
    padding: 12px 24px;
  }
}
.nav__link-home:hover,
:focus {
  color: white;
  background-color: black;
}
.active {
  color: white;
  background-color: black;
}
.nav-item {
}
.nav__link-library {
  //   margin-top: 14px;
  margin-left: 4px;
  background-color: white;
  color: black;
  width: 113px;
  height: 34px;
  //   padding: 10px 22px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 100px;

  @media screen and (min-width: 768px) {
    width: 109px;
    height: 38px;
    // padding: 12px 20px;
  }
}
.nav__link-library:hover,
:focus {
  color: white;
  background-color: black;
}
.search-form {
  // position: relative;
  display: flex;
  margin-top: 8px;
  max-width: 252px;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 50px;

  @media screen and(min-width: 768px) {
    margin-top: 0;
    width: 165px;
    height: 38px;
  }
}
.search-input {
  height: 34px;
  background-color: white;
  color: black;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  padding-left: 14px;
  outline: none;
  border: none;

  @media screen and (min-width: 768px) {
    max-width: 136px;
    height: 38px;
  }
}
.search-form__btn {
  background-color: #fff;
  width: 45px;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border: none;
}
.search-form__icon {
  display: inline-block;
  width: 14px;
  height: 14px;
  stroke-width: 0;
  stroke: currentColor;
  stroke: #000;
  fill: white;

  @media screen and (min-width: 768px) {
    width: 16px;
    height: 16px;
  }
}
.header-botoom {
  align-items: center;
  display: flex;
  flex-direction: column-reverse;

  @media screen and (min-width: 768px) {
    flex-direction: revert;
  }
}

.logo-header {
  // margin: 0 auto;
  cursor: pointer;
  display: flex;
  text-decoration: none;
  align-items: center;
  // margin-top: 312px;
}
.logo-header__icon {
  width: 32px;
  height: 32px;
  fill: currentColor;
  color: white;
  justify-content: center;
  align-items: center;
  display: flex;
}
.logo-name {
  width: 150px;
  height: 38px;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
  display: flex;
  // margin: 0 auto;
  text-decoration: none;
  color: white;
  margin-left: 8px;
}
