body.spiner {
  min-width: 960px;
  margin: 200px auto;
  display: flex;
  justify-content: space-around;
}

.spiner-box {
  position: absolute;
  top: 50%;
      left: 50%;
}
.spinner--hidden {    display: none;
        }

.spiner {
  width: 100px;
  height: 100px;
  position: relative;
}

.spiner div {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 100%;
  border: 10px solid transparent;
  border-top-color: #B92F2C;
  border-radius: 50%;

  animation: spinerOne 1.2s linear infinite;
}

.spiner div:nth-child(2) {
  border: 10px solid transparent;
  border-bottom-color: #B92F2C;
  animation: spinerTwo 1.2s linear infinite;
}

@keyframes spinerOne {
  0% {
    transform: rotate(0deg);
    border-width: 10px;
  }

  50% {
    transform: rotate(180deg);
    border-width: 1px;
  }

  100% {
    transform: rotate(360deg);
    border-width: 10px;
  }
}

@keyframes spinerTwo {
  0% {
    transform: rotate(0deg);
    border-width: 1px;
  }

  50% {
    transform: rotate(180deg);
    border-width: 10px;
  }

  100% {
    transform: rotate(360deg);
    border-width: 10px;
  }
}
