.main-team {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: rgb(144, 48, 48);
  overflow-y: auto;
  z-index: 30;
  position: fixed;
  padding-top: 65px;
  padding-bottom: 30px;
  @media screen and(min-width: 768px) {
    height: 200%;
    padding-top: 70px;
    padding-bottom: 30px;
    gap: 40px;
    overflow-y: auto;
  }

  @media screen and (min-width: 1024px) {
    gap: 50px;
    height: 200%;
    padding-top: 80px;
  }
}

.profile-card {
  position: relative;
  width: 300px;
  height: 300px;
  background: #fff;
  padding: 30px;
  border-radius: 50%;
  box-shadow: 0 0 22px #3336;
  transition: 0.6s;
  @media screen and(min-width: 768px) {
    width: 250px;
    height: 250px;
  }

  @media screen and (min-width: 1024px) {
    width: 300px;
    height: 300px;
  }
}

.profile-card:hover {
  border-radius: 10px;
  height: 300px;
  @media screen and(min-width: 768px) {
    height: 250px;
  }

  @media screen and (min-width: 1024px) {
    height: 300px;
  }
}

.profile-card .img {
  position: relative;
  width: 100%;
  height: 100%;
  transition: 0.6s;
  z-index: 99;
  cursor: pointer;
}

.img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: 0 0 22px #3336;
  transition: 0.6s;
}

.profile-card:hover .img {
  transform: translateY(-90px);
}

.profile-card:hover img {
  border-radius: 10px;
}

.caption {
  text-align: center;
  transform: translateY(-80px);
  opacity: 0;
  transition: 0.6s;

  @media screen and(min-width: 768px) {
    padding-left: 25px;
    padding-right: 25px;
  }

  @media screen and (min-width: 1024px) {
    padding-left: 50px;
    padding-right: 50px;
  }
}

.profile-card:hover .caption {
  opacity: 1;
}

.caption h3 {
  font-size: 25px;
  color: black;
}

.caption p {
  font-size: 17px;
  color: rgb(144, 48, 48);
  font-weight: bold;
}

.sosial-links a {
  color: black;
  font-size: 21px;
  transition: 0.6s;
}

.social-icon {
  font-size: 20px;
  fill: black;
  &:hover,
  &:focus {
    fill: red;
  }
}

i {
  margin-top: 10px;
}

.sosial-links a:hover {
  color: #0c52a1;
}

.basicLightbox__placeholder {
  width: 80%;
  height: 80%;
  overflow-y: auto;
}

.close {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 20px;
  right: 20px;
  fill: rgb(19, 12, 12);
  cursor: pointer;
}
