.theme__div {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: auto;
}
.theme {
  position: relative;
  width: 60px;
  height: 20px;
  background-color: var(--theme-dark-div-btn-color);
  border-radius: 30px;
  margin: 0;
  padding: 0;
  transition: transform 0.3s ease-out, background-color 0.2s ease-in;
  cursor: pointer;

  &.active {
    background-color: var(--theme-light-div-btn-color);
    transition-duration: 0.7s;
  }
}

.theme__switch {
  position: absolute;
  display: flex;
  border: none;

  border-radius: 100px;
  cursor: pointer;
  background-color: var(--theme-dark-tbn-color);
  width: 20px;
  height: 20px;
  box-shadow: 2px 0px 2px var(--theme-btn-shadow-right);
  transition: transform 0.3s ease-out, background-color 0.2s ease-in;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: unset;
  }

  &.active {
    background-color: var(--theme-light-btn-color);
    box-shadow: -2px 0px 2px var(--theme-btn-shadow-left);
    transform: translateX(200%);
    transition-duration: 0.5s;
  }
}

// -------oders classes
body {
  transition: transform 0.3s ease-out, background-color 0.2s ease-in;
  &.dark {
    background-color: var(--theme-dark-background-color);
    color: var(--theme-dark-text-color);
    transition-duration: 0.5s;
  }
}
.movie-card__title,
.movie-card__genre {
  &.active {
    color: var(--theme-dark-text-color);
  }
}

.footer {
  &.active {
    background-color: var(--theme-dark-background-footer-color);

    .footer__text,
    .footer__link {
      color: var(--theme-dark-text-color);
    }
  }
}
