.theme__div {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 20px;
}
.theme {
  position: relative;
  width: 60px;
  height: 20px;
  background-color: var(--theme-dark-div-btn-color);
  border-radius: 30px;
  margin: 0;
  padding: 0;

  &.active {
    background-color: var(--theme-light-div-btn-color);
  }
}

.theme__switch {
  position: absolute;
  display: flex;
  border: none;

  border-radius: 100px;
  cursor: pointer;
  background-color: var(--theme-dark-tbn-color);
  width: 20px;
  height: 20px;
  box-shadow: 2px 0px 2px var(--theme-btn-shadow);
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: unset;
    transition: cubic-bezier(0.23, 1, 0.32, 1);
  }
  &.active {
    background-color: var(--theme-light-btn-color);
    left: unset;
    right: 0;
    box-shadow: -2px 0px 2px var(--theme-btn-shadow);
  }
}

// -------oders classes
.footer {
  &.active {
    background-color: var(--theme-dark-background-color);
  }
}
.movie-card__title,
.movie-card__genre {
  &.active {
    color: var(--theme-dark-text-color);
  }
}
